[Unit]
Description=Configure ZRAM swap devices
Documentation=https://github.com/tim0n3/zram/blob/master/docs/installation_and_usage.md
DefaultDependencies=no
After=systemd-modules-load.service local-fs.target
Before=swap.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/zram.sh
ExecStop=/usr/local/sbin/zram.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
